{% extends "./layout.html" %}

{% block title %} Lista de Pacientes {% endblock %}

{% block conteudo %}

  <h1>Informações do Paciente - {{ paciente.nome }}</h1>

  <div class="mt-4">
    <span class="d-flex mt-2">
      <strong>CPF:</strong>
      <p class="ms-2">{{ paciente.cpf }}</p>
    </span>
    <span class="d-flex mt-2">
      <strong>E-mail:</strong>
      <p class="ms-2">{{ paciente.email }}</p>
    </span>
    <span class="d-flex mt-2">
      <strong>Telefone:</strong>
      <p class="ms-2">{{ paciente.telefone }}</p>
    </span>
    <span class="d-flex mt-2">
      <strong>Endereço:</strong>
      <p class="ms-2">{{ paciente.endereco }}</p>
    </span>
    <span class="d-flex mt-2">
      <strong>Idade:</strong>
      <p class="ms-2">{{ paciente.idade }} anos</p>
    </span>
  </div>

  <h2 class="mt-4">Consultas desse paciente:</h2>

  {% for consulta in consultas %}
    <div class="medico mt-4 d-flex justify-content-between">
      <span class="d-flex">
        <strong>Médico:</strong>
        <p class="ms-2">{{ consulta.medico }}</p>
      </span>
      <span class="d-flex">
        <strong>Data:</strong>
        <p class="ms-2">{{ consulta.data }}</p>
      </span>
      <span class="d-flex">
        <strong>Convenio:</strong>
        <p class="ms-2">{{ consulta.convenio }}</p>
      </span>
      <span class="d-flex">
        <strong>Valor:</strong>
        <p class="ms-2">{{ consulta.valor }}</p>
      </span>
    </div>
  {% endfor %}
  
{% endblock %}